@import url(https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap);/* index.scss */
.bg-light-grey {
  background-color: #bcc3ce; }

.hamburger {
  width: 36px;
  height: 36px;
  display: flex;
  align-content: center;
  justify-content: center; }

* {
  font-family: "Roboto", sans-serif;
  font-size: 16px; }

body {
  scroll-behavior: smooth; }

a {
  cursor: pointer; }

*,
*:before,
*:after {
  box-sizing: border-box; }

.hamburger {
  margin-left: auto; }

.page {
  padding-left: 10px;
  height: 100%; }

.subTitle {
  position: sticky;
  margin-top: 20px;
  padding: 20px;
  top: 0;
  background: #5755d9;
  line-height: 60px;
  text-transform: capitalize; }

.empty {
  background-color: rgba(87, 85, 217, 0.2); }

.unauth-lock {
  fill: #5755d9; }

.btn:hover {
  font-weight: bold;
  background-color: box-shadow(inset 0 1px 0 #a9a8ec); }

.required {
  color: #ffb700;
  padding: 4px; }

.home-section {
  height: 80vh; }

#register-form-toast {
  padding: 0.3rem; }

#vin-toast {
  margin: 0.3rem 0; }

#modal-close:hover {
  color: #5755d9; }

.form-input-hint {
  text-align: left; }

.modal-footer {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center; }

#header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  flex-flow: column; }

#tabbar {
  display: flex;
  flex-flow: wrap;
  align-content: center;
  justify-content: space-between; }

.tab .tab-item a {
  box-shadow: none; }

#navbar {
  display: flex;
  flex-flow: wrap;
  align-content: top;
  justify-content: flex-start; }

.nav-links {
  min-height: 150px; }

.mobileNav {
  display: flex;
  flex-flow: row;
  width: 100%;
  position: fixed;
  z-index: 3; }

#content {
  grid-area: content;
  padding: 10px;
  min-height: 100vh;
  height: 100%; }

#left-aside {
  grid-area: left-aside;
  width: 100%;
  position: fixed;
  top: 30px;
  z-index: 3; }

#menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0; }

#right-aside {
  grid-area: right-aside;
  min-height: 200px;
  min-width: 100px;
  background-color: #c7c7f3; }

#footer {
  grid-area: footer;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  min-height: 200px;
  background-color: #5755d9;
  color: #fff; }

.socialmedias {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-content: center;
  padding: 12px 0;
  margin: 0 auto;
  width: 200px; }

.socialmedia {
  width: 65px;
  cursor: pointer; }

.avatar {
  border: 1px solid #fff; }

.AuthLink {
  font-size: 16px;
  flex-basis: 1; }

.authBtn {
  font-size: 20px;
  flex-basis: 5;
  width: 80%; }

.progressBar {
  display: contents; }

progress {
  z-index: 500; }

@media (min-width: 920px) {
  * {
    font-size: 18px; }
  .mobileNav {
    display: none; }
  #mainLayout {
    position: relative;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content 1fr;
    grid-template-areas: "header header header header" "left-aside content content right-aside" "footer footer footer footer"; }
  a#home-route-address,
  a#home-route-call {
    font-size: 30px; }
  #profileLayout {
    position: relative;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content 1fr;
    grid-template-areas: "header header header" "left-aside content content" "footer footer footer"; }
  #header {
    justify-content: space-between; }
  #navbar {
    width: 100%;
    transition: all 2s ease-in-out; }
  #content {
    min-width: 100%; }
  #left-aside {
    max-width: 200px;
    min-width: 20vw;
    width: 100%;
    position: inherit;
    top: 0;
    z-index: inherit; }
  #right-aside {
    max-width: 400px;
    min-width: 20vw; } }

/*# sourceMappingURL=main-05058993a4e22b40ab2d.css.map*/