/* index.scss */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap");
@import "./spectre/spectre.min.css";
@import "./animations.css";
@import "./loader.scss";
@import "./spectre/spectre.min.css";

* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.bold {
  font-weight: 700;
}

body,
html {
  scroll-behavior: smooth;
}

#header {
  grid-area: header;
  display: subgrid;
  justify-content: space-between;
  align-content: stretch;
  border: 2px dashed blue;
  min-height: 200px;
  flex-flow: column;
}

#navbar {
  display: flex;
  flex-flow: wrap;
  align-content: center;
  justify-content: space-between;
}

#hamburger {
  width: 35px;
}

#content {
  grid-area: content;
  border: 2px dashed red;
  min-height: 100vh;
}

#left-aside {
  grid-area: left-aside;
  border: 2px dashed green;
  min-height: 200px;
  min-width: 100px;
}

#menu {
}

#right-aside {
  grid-area: right-aside;
  border: 2px dashed yellow;
  min-height: 200px;
  min-width: 100px;
}

#footer {
  grid-area: footer;
  border: 2px dashed grey;
  min-height: 200px;
}

.loader {
  height: 80vh;
  width: 80vw;
}

.progressBar {
  width: 100%;
  display: flex;
  padding: 15px;
  justify-content: center;
  align-content: center;
}

.progress {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 80%;
  margin: 0, auto;
  height: 1.5rem;
  text-align: center;
  color: #2980b9;
  border: 2px dashed #ecf0f1;
  background-image: #ecf0f1;
  border-radius: 10px;

  &::-webkit-progress-bar {
    border: 2px dashed #ecf0f1;
    width: 100%;
    border-radius: 10px;
  }
  &::-webkit-progress-value {
    border: 2px dashed #2980b9;
    border-radius: 10px;
  }
  &::-moz-progress-value {
    border: 2px dashed #ecf0f1;
    border-radius: 10px;
  }
}

@media (min-width: 920px) {
  * {
    font-size: 18px;
  }

  .hamburger {
    display: none;
  }

  #layout {
    position: relative;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
      "header header header header"
      "left-aside content content right-aside"
      "footer footer footer footer";
  }

  #header {
    justify-content: space-evenly;
  }

  #content {
    min-width: 100%;
  }

  #left-aside {
    max-width: 200px;
  }

  #right-aside {
    max-width: 200px;
  }
}
